/* 
    Document   : tabs
    Created on : 04.07.2011, 13:03:53
    Author     : all4dk
    Description:
        Purpose of the stylesheet follows.
*/

.tabs {padding:15px 15px 5px;}
.tab {margin:0 5px; padding: 4px 5px; background-color: #d5dddf;background:url(../images/ubutton4.png) 0 0 repeat-x; cursor:pointer;}
.selected {background-color: #ff701a; color: #FFF;background:url(../images/ubutton2.png) 0 0 repeat-x;}
#sup_popup .tabContent {padding:0 10px;border-top: 1px solid #B0C3C9;}

.progressBar {width: 100px;float: none;height: 9px;border: 1px solid #b0c3c9;margin: 5px 0 0 0;}
.progressBar .progressStat {width: 100px;float: none;height: 9px;border: 0;background: url(../images/progress.png) 0 0 repeat-x #39a849;color: #005500;font-size: 9px;}
